
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSuccess</title>
</head>
<body>
    
    <h2>欢迎：@Request["userName"]登陆成功...</h2>
</body>
</html>
